# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://enlabmxseafcjbhfigqj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_public_key_here
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=8610539309:AAGr02LwIXFeQsTJ_jBnzmT5pMdoDzCrjv8
TELEGRAM_BOT_USERNAME=rejal313bot
ADMIN_CHAT_ID=8925138241

# Production Deployment URL (Vercel)
NEXT_PUBLIC_APP_URL=https://rejal-sadako.vercel.app
